body {
    padding: 0;
    margin: 0;
}

#centerContainer {
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: repeat(3, 33vh);
    height: 100vh;
}

#centerMe {
    grid-row: 2;
    height: 200px;
    margin: auto;
    width: 200px;
    background-color: rebeccapurple;
}